.container-fluid {
  .row {
    justify-content: center;
    text-align: center;
    #map {
      height: 500px;
    }

    .list-group {
      border: none;

      .list-group-item {
        border: none;
      }
    }

    .col-sm-6.description {
      margin-top: 5%;
      .title.h5 {
        color: rgba(0, 0, 0, 0.836);
        font-weight: 100;
      }
    }
  }
}
