.container-fluid {
  margin-top: 5%;

  .row {
    .list-group {
      border: none;
      .list-group-item {
        border: none;
      }
    }

    .col-sm-6.description {
      margin-top: 5%;

      .display-4 {
        font-weight: 400;
      }

      .title.h3 {
        color: rgba(0, 0, 0, 0.61);
        font-weight: 100;
      }
    }

    .col-sm-6.description-img {
      background: url('../../assets/images/geolocation.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
}
