<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 description ">
      <div class="title display-4 text-center">
        Bem vindo a App de Geolocalização
      </div>
      <div class="title h3 mt-4 text-center">
        Cadastre e visualize o nosso mapa de usuários cadastrados
      </div>
    </div>
    <div class="col-sm-6 description-img">
    </div>
  </div>
  <div class="row mt-4 p-0">
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item p-0 m-1">
        <a href="#" class="btn btn-dark">
          Cadastrar Localização
        </a>
      </li>
      <li class="list-group-item p-0 m-1">
        <a [routerLink]="['/mapping']"  class="btn btn-warning">
          Mapa de Localização
        </a>
      </li>
    </ul>
  </div>
</div>
