select option {
  background: rgb(1, 8, 27);
  color: rgb(255, 255, 255);

  border: none;
  outline: none;
  box-shadow: none;
}


.nav-select {
  border: 0;
  color: #fff;
  padding: 5px;
  transition: .5s;
  border-radius: 0;
  background-color: #141b2dcb;
}
