<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="display-6 text-center">
      Todos os usuários
    </div>
    <div class="col-sm-6">
      <table class="table text-center mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{user.name}}</td>
            <td><a class="btn btn-warning" [routerLink]="['/mapping', user.id]">Mapa</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
