.container-fluid {
  margin-top: 5%;
  .row {
    .col-sm-6
    {
      display: flex;
      justify-content: center;
      align-items: center;
      .form{
        padding: 10px;
      }
    }
  }
}
